target
.idea
*.iml
.vscode/
.bloop/
.metals/
derby.log
metastore_db/
spark-warehouse/
dependency-reduced-pom.xml
native/proto/src/generated
prebuild
.flattened-pom.xml
rat.txt
filtered_rat.txt
dev/dist
apache-rat-*.jar
venv
dev/release/comet-rm/workdir
spark/benchmarks
