##
## From  https://github.com/bsmt/lldbinit/blob/master/lldbinit
##

# wish lldb supported colors :/
settings set prompt [lldb-rust-comet]$

# breakpoint shortcuts
# break on function/method/selector: b -n name
# break on C/C++ method: b -M method
# break on selector: b -S selector:here:
# break on address: b -a 0xfeedface
command alias b breakpoint set
command alias bd breakpoint disable
command alias be breakpoint enable
command alias bdel breakpoint delete
command alias bcommand breakpoint command add
command alias commands breakpoint command list

# jump aliases
# jump 0xfeedface
command alias jump register write pc
command alias jmp register write pc
command alias j register write pc

# fix p/s
# p/s rsi
command alias p/s register read

# fscript (cbf to fix fscript anywhere)
command alias f_init p (char)[[NSBundle bundleWithPath:@"/Library/Frameworks/FScript.framework"] load]
command alias f_start p (void)[FScriptMenuItem insertInMainMenu]

command alias return thread return

# For Comet Debugging
# settings set platform.plugin.darwin.ignored-exceptions EXC_BAD_INSTRUCTION|EXC_BAD_ACCESS
